body{
  padding-top: 90px;
}

.jumbotron{
  padding-top: 15px;
}

.jcon{
  padding-top: 15px;
}

.section1{
  height: 400px;
  background-color: black;
}

.section3{
  height: 400px;
}

.coladjust{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.section2{
  height: 400px;
  text-align: center;
  background-color: #ffffff;
  border: 3px solid black;
  opacity: 0.6;
}

.needpad{
  padding: 2px;
  padding-bottom: 8px;
  padding-left: 2px;
}

.nav{
  padding-bottom: 2px;
}

.gae{
  text-align: justify;
  font-size: 16px;
}

.important{
  font-weight: bolder;
  color: black;
}

.bgset{
  background-image: url(rain.jpg);
}

.padnavbar{
  padding-top: 40px;
}
