body{
  padding-top: 70px;
  font-family: monospace;
  background-color: #659D32;
}

.opacity{
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

.bottomimage{
  width: 100%;
  padding-top: 15px;
}

.topimage{
  padding-bottom: 20px
}

.padverthigh{
  padding-bottom: 10px;
}

.padvertlow{
  padding-top: 10px;
}


img{
  height: 50px;
  width: 100%
}

.jumbotron{
  padding-top: 15px;
}

.jcon{
  padding-top: 15px;
}

.section1{
  height: 400px;
  background-color: black;
}

.coladjust{
  margin-left: auto;
  margin-right: auto;
}

.section2{
  height: 400px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

.needpad{
  padding: 2px;
  padding-bottom: 8px;
  padding-left: 2px;
}

.nav{
  padding-bottom: 2px;
}

.gae{
  text-align: justify;
  font-size: 16px;
}

.important{
  font-weight: bolder;
  color: black;
}

.bgset{
  background-image: url(rain.jpg);
}

.negpad{
  padding-top: -1px;
}

.padnavbar{
  padding-top: 40px;
}

.contsize{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  text-align: center;
  font-family: monospace;
}

.main{
  padding-left: 25px;
  font-size: 25px;
  font-family: serif;
  font-variant: small-caps;
}
<<<<<<< HEAD
.imgfloat{
  float: right;;
}
=======
>>>>>>> master
